---
layout: default
---
{% include modules/banner.html %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {% include template/content.html %}
        <script>
        document.write('<div class="fb-like" data-href="' + location.href + '" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>');
        </script>
      </div>
      <div class="col-sm-3 col-sm-offset-1">

        <form role="form" action="//send.abemedia.co.uk/KQ" method="post" class="donforms">
          <div class="bg-primary panel-body">
            <h3>Get notified when tickets are available</h3>
            <div class="form-group">
              <input type="hidden" name="event" id="event" value="{{ page.title }}" />
              <label class="sr-only" for="name">Name*</label>
              <input type="text" name="name" id="name" placeholder="Name*" class="form-control" required />
            </div>
            <div class="form-group">
              <label class="sr-only" for="email">Email*</label>
              <input type="email" name="email" id="email" placeholder="Email*" class="form-control" required />
            </div>
            <div class="form-group">
              <label class="sr-only" for="phone">Mobile</label>
              <input type="phone" name="phone" id="phone" placeholder="Mobile" class="form-control" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger">Notify me!</button>
            </div>
            <div>
              <small>* required</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
