---
layout: default
---
{% assign photos = (site.gallery | where: 'album', page.slug) %}
{% if page.image %}{% include modules/banner.html %}{% endif %}

<div class="section" id="content">
  <div class="container">
    {% unless page.image %}<h1 class="page-header" style="margin-top:90px">{{ page.title }}</h1>{% endunless %}
    {% include template/content.html %}
    {% assign files = (site.static_files | where: 'extname', '.jpg' | sort: 'modified_time') %}
    <div class="row row-padded">
    {% for file in files reversed %}{% if file.path contains page.directory %}
      <div class="col-xs-6 col-sm-4 col-lg-3">
        <a class="thumb" data-toggle="lightbox" data-gallery="gallery" href="{{ site.cdn | replace: '0x0', '1000x0' }}{{ file.path }}">
          <figure>
            <img src="{{ site.cdn | replace: '0x0', '263x263' }}{{ file.path }}">
          </figure>
        </a>
      </div>
    {% endif %}{% endfor %}
    </div>
  </div>
</div>

