---
layout: default
---
{% assign photos = (site.gallery | where: 'album', page.slug) %}
{% if page.image %}{% include modules/banner.html %}{% endif %}

<div class="section">
    {% unless page.image %}<h1 class="page-header" style="margin-top:90px">{{ page.title }}</h1>{% endunless %}
    {% include template/content.html %}
    {% assign files = page.directory | files %}
    
    <div id="photoMosaic" class="fade rel clearfix" data-columns="6" data-margin="15">
      {% for file in files reversed %}
      {{ file | remove_first: '_media/' | append: ' [resize:263x263^,autosize]' | image }}
      {% endfor %}
    </div>
</div>

