---
layout: default
---
{% include modules/banner.html %}

<div class="section" id="tickets">
  <div class="container">
    {% include template/content.html %}
      {% assign items = site.events | where: 'published', 1 | sort: 'start_date' %}
      {% for item in items %}{% if item.price > 0 %}
      {% assign date = item.start_date | date: '%A, %d %B %Y' %}
      {% if date != lastdate %}
      {% assign lastdate = date %}
      <h2>{{ date }}</h2>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right"><span class="h4">&pound;{{ item.price }} per person</span></div>
          <a class="h4" href="{{ site.url }}{{ item.url }}">{{ item.title }}</a><br>
        </div>
      </div>
      {% endif %}{% endfor %}
  </div>
</div>
